<h2><%= @food.name %></h2>
<p class="desc"><%= @food.description %></p>
<p><%=currency(@food.price) %></p>
<p>Allergens:</p>
<ul>
<% @food.allergens.each do |allergen| %>
<li><%= allergen.name %></li>
<% end %>
</ul><br><br><br>

<div class="button"><a href="/foods/<%= @food.id %>/edit">Change the Menu Item</a></dvi>