<h2>Receipt:</h2>


<p>Table <%= @party.table_number %></p> 
<ul>
  <% @items = @party.orders.each do |order| %>
    <li><%= order.food.name %> - $<%= order.food.price %></li>
  <% end %>
</ul> 

<% bill = 0 %>
<% @party.orders.each do |order| %>
  <% bill += order.food.price %>
<% end %>
<p>Total: $<%= bill %></p><br>

<h3>Suggested gratuity:</h3>
<p>15%: $<%= bill * 0.15 %> </p>
<p>20%: $<%= bill * 0.20 %> </p>
<p>25%: $<%= bill * 0.25 %> </p>
<p>Thank you, please visit us again!</p>
