<h2>Receipt:</h2>


<p>Table number <%= @party.table_number %></p>
<p>Server: <%= @party.employee.name %></p><br> 

<ul>
  <% @party.orders.each do |order| %>
    <% if order.comped %>
    <li><%= order.food.name %> - On the house!</li>
    <% else %>
    <li><%= order.food.name %> - <%=currency(order.food.price) %></li>
    <% end %>
  <% end %>
</ul> 

<% bill = 0 %>
<% @party.orders.each do |order| %>
  <% if order.comped == false %>
  <% bill += order.food.price %>
  <% end %>
<% end %>
<p>Bill: <%= currency(bill) %></p><br>

<div class="button"><form action="/parties/<%= @party.id %>/closeout" method="post">
<label for="tip">Tip: </label>
<input id="tip" type="integer" name='party[tip]'><br>
<label for="total">Total: </label>
<input id="total" type="integer" name='party[total]'></div><br>



<input type="hidden" name="_method" value="PATCH">
<div class="button no-print"><input type="submit" value="Close table"></div>
</form>
<br> 

<div class="tip"><p>Suggested gratuity:</p>
<p>15%: <%= currency(bill * 0.15) %> </p>
<p>20%: <%= currency(bill * 0.20) %> </p>
<p>25%: <%= currency(bill * 0.25) %> </p>
<p>Thank you, please visit us again!</p></div>





