<h2>Party is seated at table number <%= @party.table_number %></h2>

<p><%= @party.people %> top</p>
<% if @party.paid %> 
  <p>This party has paid.</p>
  <% else %> 
  <p>This party has not paid.</p>
  <% end %>

  <h3>Current orders:</h3>
  <ul>
  <% @party.foods.each do |food| %>
  <li><%= food.name %> - $<%= food.price %>

  <form action="/parties/<%= party.id %>/orders"  method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Blog User">
  </form></li>
  <% end %>
  </ul>

  <form action="/parties/<%= party.id %>/order" method="POST">
  <label for="food_items">Add menu items to the table's order</label> 
  <select id="food_items" name="party[orders][food_id]">
  <% @foods.each do |food| %>
  <option value="<%= food.id %>"><%= @food.name %></option>
  </select>
  <input type="submit">
  </form><br>


<a href="/parties/<%= @party.id %>/receipt">See this party's receipt</a><br>
<a href="/parties/<%= @party.id %>/edit">Edit this party</a>