<h3>Table: <%= @party.table_number %>, <%= @party.people %> top</h3>
<p>Server: <%= @party.employee.name %></p>
<% if @party.paid %> 
<p>This check is closed.</p>
<% else %> 
<p>This check is still open.</p>
<% end %> 

<p>Food ordered:</p>
<ul>
  <% @party.orders.each do |order| %>
  <li><%= order.food.name %>

    <% unless order.comped %>
    <div class="button"><form action="/orders/<%= order.id %>"  method="POST">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="order[comped]" value="true">
      <input type="submit" value="Comp item"></div>
    </form>
    <% end %>

    <div class="button"><form action="/orders/<%= order.id %>"  method="POST">
      <input type="hidden" value="<%= order.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete item">
      </form></div></li>
      <% end %>
    </ul>

    <% unless @party.paid %>
    <div class="button"><form action="/orders" method="POST">
      <label for="food"><span>Add menu items to the table's order</span></label> 
      <select id="food" name="order[food_id]">
        <% @foods.each do |food| %>
        <option value="<%= food.id %>"><%= food.name %></option>
        <% end %>
      </select>
      <input type="hidden" name="order[party_id]" value="<%= @party.id %>">
      <input type="submit"></div>
    </form>
    <% end%><br><br><br><br>

    <% unless @party.paid %>
    <div class="button"><a href="/parties/<%= @party.id %>/receipt">Checkout</a></div>
    <% end%>
    <br>


